name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/checkout@v3

    - name: Set Node.js 14.x
      uses: actions/setup-node@v3.5.1
      with:
        node-version: 14.x

    - name: Cache .pnpm-store
      uses: actions/cache@v3
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node-version }}

    - name: install pnpm and npm
      run: |
        curl -L https://pnpm.js.org/pnpm.js | node - add --global pnpm@dev npm@6
    - name: pnpm install
      run: pnpm install
    - run: npm test

  # test action works running from the graph
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./
      with:
        milliseconds: 1000
